**/.venv/**
**/__pycache__/**
__pycache__/
*.pyc
**/__local*/**
**/.agents/**
**/__localdocs/**
/.claude/__**
/apps/Rad_icon_2022/dll/Release/**
/apps/Rad_icon_2022/dll/x64/**
/apps/Rad_icon_2022/config/from_program_files/**
/apps/Rad_icon_2022/__ref_ccf_files/**
/bl18c_controller/assets/sounds/ffmpeg**
/bl18c_controller/assets/sounds/**.mp3

.DS_Store